# https://github.com/jeffdemeutter/OverlordEngine/blob/master/OverlordProject/Resources/Effects/UberShader.fx

OverlordEngine/Source/.vs
OverlordEngine/Source/_build
OverlordEngine/Source/_intermediate
OverlordEngine/Source/OverlordEngine/_build
